
.banner{
    background-image: url('../../images/banner.jpg');
    height: 850px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.8;
    
}
.text-part{
    margin-top: 150px;
}
.custom-h2{
    font-weight: 900;
    font-size: 80px;
    
}